* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
     background-color: #0b0720;
     color: white;
     font-family: 'Work Sans', sans-serif;
     font-size: 100%;
}

h1, h2, h3 {
    margin-bottom: 48px;
}

h1 {
     font-size: 86px;
     font-weight: 500;
     line-height: 100px;
}

@media screen and (min-width: 481px) and (max-width: 769px) {
    h1 {
        font-size: 40px;
        line-height: 50px;
    }
}

h2 {
    font-size: 64px;
    font-weight: 600;
    line-height: 75px;
    text-transform: uppercase;
}

@media screen and (min-width: 481px) and (max-width: 769px) {
    h2 {
        font-size: 40px;
        line-height: 50px;
    }
}

h3 {
    font-size: 48px;
    font-weight: normal;
    line-height: 54px;
}

@media screen and (min-width: 481px) and (max-width: 769px) {
    h3 {
        font-size: 40px;
        line-height: 50px;
    }
}

a {
    font-size: 36px;
    font-weight: 600;
    line-height: 42px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

@media screen and (min-width: 481px) and (max-width: 769px) {
    a {
        font-size: 40px;
        line-height: 50px;
    }
}

a:hover {
    color: #beda10;
}


@media screen and (min-width: 481px) and (max-width: 769px) {
    p {
        font-size: 40px;
        line-height: 50px;
    }
}

.button {
    background-color: #8279bb; 
    color: white;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 12px 24px; 
    border: none;
    border-radius: 37px;
}

.button:hover {
    background-color: #beda10;
    color: #070514;
}

.input-label {
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
}

.input-label span {
    font-size: 18px;
    font-weight: 400;
}

.input-field,
.input-textarea {
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
    color: gray;
    background-color: #070514;
    padding: 12px 16px; 
    width: 100%;
    border: none;
    border-radius: 30px;
    margin-top: 8px;
    margin-bottom: 16px;
}

.input-textarea {
    height: 100px;
}

.container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1140px;
}

section {
    padding-top: 64px;
    padding-bottom: 64px;
}

.hero {
    height: 100vh;
    background: linear-gradient(0deg, rgba(7,5,20,1) 0%, rgba(19,21,119,1) 56%);
}

.hero-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-cta {
    align-self: flex-end;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(180deg, rgba(7,5,20,1) 0%, rgba(19,21,119,0.16010154061624648) 56%);
    z-index: 5;
}

.header-container {
    display: flex;
    flex-wrap: wrap;
}

.logo {
    font-size: 32px;
    font-weight: 600;
    line-height: 42px;
    text-transform: uppercase;
    margin-right: 64px;
}
.menu ul{
    list-style-type: none;
    display: flex;
}
.menu ul li {
    margin-right: 24px;
}
.menu ul li a {
    font-size: 24px;
}

.works-menu {
    position: sticky;
    top: -15px;
}

@media screen and (min-width: 481px) and (max-width: 769px){
    .works-menu {
        display: none;
    }
}

.works-menu ul {
    list-style-type: none;
    display: flex;
}

.works-menu ul li {
    margin-right: 24px;
}

.works {}

.works-item{
    margin-bottom: 96px;

}

.works-item-tags{
    font-size: 24px;
    color: #beda10;
}

.work-info {
    display: flex;
    flex-wrap: wrap;
}

.work-info-label {
    width: 200px;
    flex-grow: 0;
    flex-shrink: 1;
    font-weight: 600;
    text-transform: uppercase;
}

.work-info-content {
    width: 70%;
    flex-grow: 1;
    flex-shrink: 1;

}

.images {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.images img {
    margin-bottom: 36px;
    max-width: 100%;
}

.image-right {
    align-self: flex-end;
}

.image-left {
    align-self: flex-start;
}

.contacts {

}

.contacts-content{
    display: flex;
    justify-content: space-between;
}

.contacts-about,
.contacts-form {
    width: 40%;
    flex-grow: 0;
    flex-shrink: 1;
}

@media screen and (min-width: 481px) and (max-width: 769px) {
    .contacts-content {
        flex-direction: column;
    }

    .contacts-about,
    .contacts-form {
    width: 100%;
}
}

.footer {
    background: linear-gradient(0deg, rgba(7,5,20,1) 0%, rgba(19,21,119,1) 56%);
    padding-top: 24px;
    padding-bottom: 24px;
}

.copyright {
    color: gray;
}

.anchors {
    visibility: hidden;
    position: relative;
    top: -150px;
}
