* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
     background-color: #070514;
     color: white;
     font-family: 'Work Sans', sans-serif;
     font-size: 100%;
}

h1 {
     font-size: 96px;
     font-weight: 600;
     line-height: 113px;
}

h2 {
    font-size: 64px;
    font-weight: 600;
    line-height: 75px;
}

h3 {
    font-size: 48px;
    font-weight: normal;
    line-height: 54px;
}

a {
    font-size: 36px;
    font-weight: 600;
    line-height: 42px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}